.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 600px;
  align-items: center;
  margin-top: 140px;
}

.logo-container {
  @media screen and (max-width: 768px){
    @media screen and (max-width: 500px){
      transform: scale(0.5);
      @media screen and (max-width: 325px){
        transform: scale(0.4);
      }
    }
    transform: scale(0.7);
  }
  cursor: pointer;
  position: relative;
  width: 200px;
  height: 200px;
  .main-logo {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    position: absolute;

    &:active {
      box-shadow: 10px 10px 10px #888888;
    }
  }

  .item-logo-1 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
  }
  .item-logo-2 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
  }
  .item-logo-3 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    img {
    }
  }
  .item-logo-4 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
    img {
      margin-top: 4px;
    }
  }
  .item-logo-5 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
  }
  .item-logo-6 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
  }
  .item-logo-7 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
  }
  .item-logo-8 {
    pointer-events: none;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    opacity: 0;
    transition: 0.5s ease-in-out;
    // transition-delay: 0.5s;
    position: absolute;
    border: 3px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 50px;
  }
}

.logo-container {
  &.active {
    position: absolute;
   
    .main-logo {
      margin-top: -80px;
    }
    .item-logo-1 {
      opacity: 1;
      margin-left: -125%;
      margin-top: -30px;
      position: absolute;
    }
    .item-logo-2 {
      opacity: 1;
      margin-left: -80%;
      margin-top: 180px;
      position: absolute;
    }
    .item-logo-3 {
      opacity: 1;
      margin-left: 25%;
      margin-top: 270px;
      position: absolute;
    }
    .item-logo-4 {
      opacity: 1;
      margin-left: 130%;
      margin-top: 180px;
      position: absolute;
    }
    .item-logo-5 {
      opacity: 1;
      margin-left: 175%;
      margin-top: -30px;
      position: absolute;
    }
    .item-logo-6 {
      opacity: 1;
      margin-left: 130%;
      margin-top: -240px;
      position: absolute;
    }
    .item-logo-7 {
      opacity: 1;
      margin-left: 25%;
      margin-top: -300px;
      position: absolute;
    }
    .item-logo-8 {
      opacity: 1;
      margin-left: -80%;
      margin-top: -240px;
      position: absolute;
    }
  }
}
.background-primary {
  background-color: #251d3a;
}
.background-secondary {
  background-color: #2A2550;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.animate-up-down {
  animation: moveUpDown 2s linear infinite;
}

#website-card:hover{
  animation: moveUpDown 2s linear infinite;
}